{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block welcome %}
{% endblock welcome %}
{%block navbar%}{%endblock navbar%}

{%block body%}

<div class="container my-2">

  <!-- Header with Back Button -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Application History</h1>
    <a href="{{ url_for('student_dashboard') }}" class="btn btn-primary">
      Back
    </a>
  </div>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">S No</th>
        <th scope="col">Company</th>
        <th scope="col">Job Title</th>
        <th scope="col">Applied Date</th>
        <th scope="col">Results</th>
      </tr>
    </thead>
    <tbody>
      {% for drive in drives %}
      {% if drive.id in applied_job_ids %}
      <tr class="align-middle">
        <td>{{loop.index}}</td>
        <td>{{drive.company.user.name}}</td>
        <td>{{drive.jtitle}}</td>
        <td>{{application_dates[drive.id]}}</td>
        {% if application_status[drive.id]=="shortlisted" %}
          <td class="text-info">Shortlisted</td>
        {% elif application_status[drive.id]=="rejected" %}
          <td class="text-danger">Rejected</td>
        {% elif application_status[drive.id]=="selected" %}
          <td class="text-success">Selected</td>
        {% else %}
        <td class="text-secondary">{{application_status[drive.id]}}</td>
        {% endif %}
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

</div>

{%endblock body%}